<fieldset>
<div class="span12">
	<!--PAGE CONTENT BEGINS-->
	<form class="form-horizontal" id="form_{$main}" url="{$host}backend/simpan_data/tbl_{$main}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" id="id_{$main}" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" id="sts_crud_{$main}" value="{$sts_crud|default:'add'}">
		<input type="hidden" name="upload_na" id="upload_na_{$main}" value="services">
		<input type="hidden" name="modul_detil" id="modul_detil_{$main}" value="tbl_services_foto">
		<div class="control-group">
			<label class="control-label" for="form-field-1">Nama Service Ind</label>
			<div class="controls">
				<input type="text" class="span8" name="nama_service_ind" id="nama_service_ind" value="{$data.nama_service_ind|default:''}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="form-field-1">Nama Service Eng</label>
			<div class="controls">
				<input type="text" class="span8" name="nama_service_eng" id="nama_service_eng" value="{$data.nama_service_eng|default:''}" />
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="form-field-1">Deskripsi Ind</label>
			<div class="controls">
				{include file="template/editor.html" id="desc_{$main}_ind" name="deskripsi_ind" height="150" value="{$data.deskripsi_ind|default:''}" }
				<!--textarea class="span10" id="isi_berita_ind" name="isi_berita_ind"></textarea-->
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="form-field-1">Deskripsi Eng</label>
			<div class="controls">
				{include file="template/editor.html" id="desc_{$main}_eng" name="deskripsi_eng" height="150" value="{$data.deskripsi_eng|default:''}"}
				<!--textarea class="span10" id="isi_berita_eng" name="isi_berita_eng"></textarea-->
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="form-field-1">Foto Services</label>
			<div class="controls">
				{include file="template/file_input.html" id="file_foto_{$main}" value="{$data.file_foto|default:''}"}
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="form-field-1"></label>
			<div class="controls">
				{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
			</div>
		</div>
		
	</form>
</div>
</fieldset>


<script>
	$('#batal_{$main}').click(function(){
		$('#grid_nya_{$main}').show();
		$('#detil_nya_{$main}').html('').hide();
	});
	$('#simpan_{$main}').click(function(){
		tinyMCE.triggerSave();
		//$('#isi_berita_ind').val()
		submit_form('form_{$main}',function(r){
			if(r==1){
				$.messager.alert('Roger Salon',"Product Tersimpan",'info');
				$('#grid_{$main}').datagrid('reload');
				$('#grid_nya_{$main}').show();
				$('#detil_nya_{$main}').html('').hide();
			}
			else{
				$.messager.alert('Roger Salon',"Gagal",'error');
				console.log(r);
			}
		});

	});
	
</script>