<div class="light-gray-row">
</div>
    
	
	<div class="container padding-small text-center">
        <h5>What do <span class="color-font">we</span> <span class="light">actually do?</span></h5>

        <h3>The <span class="color-font">best</span> websites in the World</h3>

        <div class="row padding-top-small animated" data-fx="fadeInUp">
            <div class="col-md-4 col-sm-4">
                <div class="circleBox">
                    <div class="circle-border-outside">
                        <div class="circle-border-inside">
                            <div class="circle">
                                <div class="circle-content">
                                    <span><embed src="{$host}__assets/images/content/diamond.svg" type="image/svg+xml"></span>
                                </div>
                            </div>
                        </div>
                        <div class="circle-triangle"></div>
                    </div>
                </div>
                <h5>Priceless UX</h5>

                <p>Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien
                    ultricies dolor, et mollis pede.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circleBox">
                    <div class="circle-border-outside">
                        <div class="circle-border-inside">
                            <div class="circle">
                                <div class="circle-content">
                                    <span><embed src="{$host}__assets/images/content/paperplane.svg" type="image/svg+xml"></embed></span>
                                </div>
                            </div>
                        </div>
                        <div class="circle-triangle"></div>
                    </div>
                </div>
                <h5>Ultra-Light Code</h5>

                <p>Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien
                    ultricies dolor, et mollis pede.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="circleBox">
                    <div class="circle-border-outside">
                        <div class="circle-border-inside">
                            <div class="circle">
                                <div class="circle-content">
                                    <span><embed src="{$host}__assets/images/content/pencil.svg" type="image/svg+xml"></embed></span>
                                </div>
                            </div>
                        </div>
                        <div class="circle-triangle"></div>
                    </div>
                </div>
                <h5>Top-Norch Design</h5>

                <p>Phasellus congue lacus eget neque. Phasellus ornare, ante vitae consectetuer consequat, purus sapien
                    ultricies dolor, et mollis pede.</p>
            </div>
        </div>
    </div>

	
<div id="Parallax1" class="parallax padding-big" style="background-image: url('{$host}__assets/images/content/parallax1.jpg')">
    <div class="container text-center animated" data-fx="bounceIn">
        <p class="h3 quote">
            <i class="fa fa-quote-left quote-mark-left"></i>
            Read the directions and directly you will be directed in the right direction.
            <i class="fa fa-quote-right quote-mark-right"></i>
        </p>

        <p class="citation"><i>- John Doe -</i></p>
    </div>
</div>

<div class="container">

</div>


<div id="gallery">
    <div class="container text-center">
        <div class="row">
            <div class="portfolioFilter">

                <a href="#" data-filter="*" class="current">All</a>
                <a href="#" data-filter=".creative">Salon</a>
                <a href="#" data-filter=".design">Clinic</a>
                <a href="#" data-filter=".development">SPA</a>
                <a href="#" data-filter=".development">Wellness Centre</a>
                <a href="#" data-filter=".development">Cafe n Lounge</a>

            </div>
            <!-- #galleryOptions -->
        </div>
    </div>

    <div class="projects five">
        <div class="project creative">
            <img src="{$host}__assets/images/content/works/imgGallery9.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project design development">
            <img src="{$host}__assets/images/content/works/imgGallery8.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project developemnt creative">
            <img src="{$host}__assets/images/content/works/imgGallery.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project development creative design">
            <img src="{$host}__assets/images/content/works/imgGallery7.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project creative">
            <img src="{$host}__assets/images/content/works/imgGallery6.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project creative design">
            <img src="{$host}__assets/images/content/works/imgGallery5.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project development">
            <img src="{$host}__assets/images/content/works/imgGallery4.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project creative development">
            <img src="{$host}__assets/images/content/works/imgGallery3.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project design">
            <img src="{$host}__assets/images/content/works/imgGallery2.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="project development">
            <img src="{$host}__assets/images/content/works/imgGallery1.jpg" alt="image">

            <div class="item-hover">
                <ul class="item-icons">
                    <li><a href="project.html" class="portfolio"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- / works -->

</div>
<!-- / gallery -->

	