<div class="container">
	<div class="container blog padding-bottom-small">
		<div class="col-md-12">
			<div class="container">
				{$data_header.deskripsi_ind}
			</div>
		</div>
	</div>
</div>
{if $data_detail}
<div id="gallery-{$data_header.id}" class='container text-center'>
	<div class="container text-center">
		<div class="row">
			<div class="portfolioFilter">
				<a href="#" class="current">Gallery {$data_header.nama_product_ind}</a>			
			</div>
			<!-- #galleryOptions -->
		</div>
	</div>
	<div class="projects five">
		{foreach from=$data_detail item=defot}
			<div class="project">
				<img src="{$host}__repository/product/{$defot.file_foto}" alt="{$data_header.nama_product_ind}" width='300px' height='250px;'>
				<div class="item-hover">
					<ul class="item-icons">
						<li><a href="{$host}__repository/product/{$defot.file_foto}" class="portfolio"><i class="fa fa-search"></i></a></li>
					</ul>
				</div>
			</div>
		{/foreach}
	</div>
</div>
{/if}
<script src="{$host}__assets/js/main.js"></script>
