<fieldset>
<div class="span12">
	<!--PAGE CONTENT BEGINS-->
	<form class="form-horizontal" id="form_testimony" url="{$host}backend/simpan_data/tbl_testimony" method="post" enctype="multipart/form-data">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		<input type="hidden" name="foto_lama" value="{$data.file_foto|default:''}">
		
		<div class="control-group">
			<label class="control-label" for="form-field-1">Foto</label>
			<div class="controls">
				{if $sts_crud == 'edit'}
					{if $data.file_foto}
					<img src='{$host}__repository/berita/{$data.file_foto}' width='100px' height='150px'>
					<br/>
					<br/>
					{/if}
				{/if}
				{include file="template/file_input.html" multiple='false' id="file_foto_{$main}" }
			</div>
		</div>				
		<div class="control-group">
			<label class="control-label" for="form-field-1">Nama</label>
			<div class="controls">
				<input type="text" class="span8" name="nama" id="nama" value="{$data.nama|default:''}" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="form-field-1">Testimony Ind</label>
			<div class="controls">
				{include file="template/editor.html" id="testi_{$main}_ind_{$acak_ind}" name="testimony_ind" height="150" value="{$data.testimony_ind|default:''}" }
				<!--textarea class="span10" id="isi_berita_ind" name="isi_berita_ind"></textarea-->
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="form-field-1">Testimony Eng</label>
			<div class="controls">
				{include file="template/editor.html" id="testi_{$main}_eng_{$acak_en}" name="testimony_eng" height="150" value="{$data.testimony_eng|default:''}"}
				<!--textarea class="span10" id="isi_berita_eng" name="isi_berita_eng"></textarea-->
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="form-field-1"></label>
			<div class="controls">
				{include file="template/button_save.html" id_simpan="simpan_{$main}" id_batal="batal_{$main}" }
			</div>
		</div>
		
	</form>
</div>
</fieldset>
<script>
	$('#batal_{$main}').click(function(){
		$('#grid_nya_{$main}').show();
		$('#detil_nya_{$main}').html('').hide();
	});
	$('#simpan_{$main}').click(function(){
		tinyMCE.get("testi_{$main}_ind_{$acak_ind}").save();
		tinyMCE.get("testi_{$main}_eng_{$acak_en}").save();
		//$('#isi_berita_ind').val()
		submit_form('form_testimony',function(r){
			if(r==1){
				$.messager.alert('Roger Salon',"Testimony Tersimpan",'info');
				$('#grid_{$main}').datagrid('reload');
				$('#grid_nya_{$main}').show();
				$('#detil_nya_{$main}').html('').hide();
			}
			else{
				$.messager.alert('Roger Salon',"Gagal",'error');
				console.log(r);
			}
		});

	});
	
</script>